html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --main-accent-color: #2196f3; /*цвет для интерактивных элементов*/
    --alternative-text-color: #ffffff; /*второй главный цвет*/
    --header-text-color: #212121; /*переменная для цвета текста заголовков*/
    --main-paragraph-color: #757575; /*переменная для цвета текста в параграфах*/
    --main-text-color: #000000; /*Первый главный цвет*/
    --footer-bgr-color: #2f303a; /*цвет фона футера*/
    --portfolio-button-color: #f5f4fa; /*цвет кнопок на странице портфолио*/
    --portfolio-item-border: #eeeeee; /*цвет рамки карточек*/
    --team-section-bgr-color: #f5f4fa; /*цвет фона в секции наша команда*/
    --advantages-bgr-color: #f5f4fa; /*цвет фона картинок преимуществ*/
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* li {
    list-style: none;
} */

img {
    display: block;
    max-width: 100%;
    /* height: auto; */
}

h1,
h2,
h3,
h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    /* padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px; */
}

/*
класс контейнер
*/
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

/*
                                КЛАССЫ ДЛЯ РАБОТЫ ХЕДЕРА
*/

.header-flex-container,
.header-link-list,
.header-contact-list,
.nav-flex-container,
.footer-flex-container,
.hero-section,
.universal-list-item,
.advantages,
.team-socnetwork-list {
    display: flex;
}

/*утилитарный стиль для списков*/

.universal-list-item {
    justify-content: space-between;
}

.index-main-section {
    flex-wrap: wrap;
}

.section-index-paddings {
    padding-top: 94px;
    padding-bottom: 94px;
    /* background-color: tomato; */
}

.header-flex-container {
    align-items: center;
}

.header-contact {
    margin-left: auto;
}

.header-link-item {
    /* line-height: 80px; */
    width: 100%;
    min-height: 80px;
}

.header-link-item:not(:last-child) {
    margin-right: 50px;
}

.header-contact-icon {
    margin-right: 10px;
    fill: #757575;
}

.nav-logo {
    align-items: center;
}

.nav-link {
    margin-left: 85px;
}

/*
                                КЛАССЫ ДЛЯ БЛОКА ГЕРОЙ
*/
.hero-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: rosybrown; */
    background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(47, 48, 58, 0.8) 0%), url('../images/header-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section {
    padding-top: 200px;
    padding-bottom: 212px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-caption {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: var(--alternative-text-color);
}

/* .hero-button {
    display: block;
    background-color: var(--main-accent-color);
    color: var(--alternative-text-color);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    text-align: center;
} */

/*
                                КЛАССЫ ДЛЯ РАБОТЫ ФУТЕРА
*/
.footer-site {
    background-color: #2f303a;
}

.footer-flex-container {
    padding-top: 48px;
    align-items: baseline;
}

.footer-address {
    width: 100%;
}

/*
БЛОК ПРИСОЕДЕНЯЙТЕСЬ
*/
.footer-join-us {
    margin-left: 69px;
}

.footer-join-us-list {
    margin-top: 21px;
}

.footer-join-us-item {
    display: flex;
    /* height: 44px;
    width: 44px; */
    align-items: center;
    justify-content: center;
}

.footer-join-us-item:not(:last-child) {
    margin-right: 10px;
}

/* .footer-join-us-item:hover {
    background-color: #2196f3;
} */

.footer-header-join-us,
.footer-header-subscribe {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--alternative-text-color);
}

/*БЛОК ПОДПИШИТЕСЬ НА РАССЫЛКУ*/

.footer-subscribe {
    margin-left: 94px;
    width: 100%;
}

.footer-subscribe-form {
    display: flex;
    align-items: flex-end;
    margin-top: 21px;
}

.footer-subscribe-input {
    margin-right: 12px;
    padding: 15px 16px;
    width: 360px;

    background-color: #2f303a;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.footer-subscribe-input:focus-within {
    outline: none;
}

.footer-link-button {
    display: flex;
    align-items: center;
    background-color: var(--main-accent-color);
    color: var(--alternative-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 29px;

    /* min-width: 200px;
    max-height: 50px; */
    line-height: 30px;
    min-height: 50px;
    border: none;
    border-radius: 4px;
    /* margin-top: 30px; */
}

.footer-link-button:focus {
    outline: none;
}

.footer-send-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: currentColor;
}

.subscribe-wrapper {
    width: 100%;
}

/*
БЛОК ДЛЯ КЛАССОВ С ЛОГО И АДРЕССОМ 
*/
.footer-text-paragraph {
    font-style: normal;
}

.footer-link-address {
    display: block;
    margin-top: 9px;
}

.footer-copyright {
    padding-top: 18px;
    padding-bottom: 21px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.4);
}

.copyright-box {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 28px;
}
/*
                                КЛАССЫ ДЛЯ РАБОТЫ СЕКЦИИ "НАШИ ПРЕИМУЩЕСТВА"
*/

/*
класс для элементов листа секции преимуществ
*/

.advantages-list-item {
    width: calc((100% - 90px) / 4);
}

.advantages-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 25px 100px; */
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--advantages-bgr-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

/* .advantages-img-container:hover,
.advantages-img-container:focus {
    background-color: var(--main-accent-color);
} */

.advantages-list-item img {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 55px; */
    /* background-color: var(--advantages-bgr-color); */
}

.advantages-list-item h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color);
    margin-bottom: 10px;
}

.advantages-list-item p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-paragraph-color);
}

/* .advantages-list-item:not(:first-child) {
    margin-left: 30px;
} */

/*
класс для свойств параграфов на странице индекс в секции преимуществ
*/
.advantages-paragraph-text p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-paragraph-color);
}

/*
                        КЛАССЫ ДЛЯ РАБОТЫ СЕКЦИИ "ЧЕМ МЫ ЗАНИМАЕМСЯ"
*/

.work-list-item {
    width: calc((100% - 60px) / 3);
}

.work-list-item p {
    margin: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
}

.work-card {
    position: relative;
    z-index: -1;
}

.work-card p {
    position: absolute;
    min-width: 100%;
    bottom: 0px;
    left: 0px;
}

/*
                        КЛАСС ДЛЯ ТЕКСТА НАЛОЖЕННОГО НА КАРТИНКУ (ПОКА ОТКЛЮЧЕН)
*/

/* .work-list a {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: white;
    align-items: center;
    justify-content: center;
} */

/*
                        КЛАССЫ ДЛЯ РАБОТЫ СЕКЦИИ "НАША КОМАНДА"
*/

/*
класс для свойств заголовков Н3 на странице индекс в секции команды
*/

.team-header-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    /* margin-top: 30px;*/
    margin-bottom: 10px;
}

/*
класс для свойств параграфов на странице индекс в секции команды
*/

.team-paragraph-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-paragraph-color);
    margin-top: 0px;
    margin-bottom: 16px;
}

.team-list-item {
    /* padding-bottom: 24px; */
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    /* outline: 2px solid tomato; */
}

.team-section {
    background-color: var(--team-section-bgr-color);
}

.team-socnetwork-list {
    justify-content: space-around;
}

.team-card {
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 36px;
    padding-left: 32px;
}

.team-socials-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.team-socials-link {
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.team-socials-link:hover,
.team-socials-link:focus {
    background-color: #2196f3;
}

.team-socials-link:hover .socials-icon,
.team-socials-link:focus .socials-icon {
    fill: #ffffff;
}

/*
                            КЛАССЫ ДЛЯ РАБОТЫ С СЕКЦИЕЙ ПОСТОЯННЫХ КЛИЕНТОВ
*/
.regular-customer-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.regular-customer-link {
    display: flex;
    width: 170px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customer-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .regular-customer-icon:hover {
    fill: #2196f3;
} */

.regular-customer-link:hover,
.regular-customer-link:focus {
    border-color: #2196f3;
}

.regular-customer-link:hover .regular-customer-icon,
.regular-customer-link:focus .regular-customer-icon {
    fill: #2196f3;
}
/*
                            Классы для страницы портфолио
*/
.nav-project-styles {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 54px;
    letter-spacing: 0.06em;
    background-color: var(--portfolio-button-color);
    color: var(--header-text-color);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-project-styles:hover,
.nav-project-styles:focus {
    color: var(--alternative-text-color);
    background-color: var(--main-accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.nav-porfolio-project {
    margin-top: 174px;
    /* align-items: center; */
    justify-content: center;
}

.nav-porfolio-project-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-projects {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.card {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-content {
    background: #ffffff;
    box-sizing: border-box;
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*ВЫЕЗЖАЮЩИЙ СИНИЙ ОВЕРЛЕЙ С ТЕКСТОМ*/

/*контейнер для оверлея (картинка и текст оверлея)*/
.portfolio-overlay-container {
    position: relative;
    overflow: hidden;
}

/*непосредственный див для оверлея*/
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*эффект ховера и фокуса на карточку, чтобы плавно появлялся оверлей с текстом*/
.card:hover .card-overlay {
    opacity: 1;
    transform: translateY(0);
}

/*непосредственный текст оверлея*/
.overlay-text {
    display: block;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 63px 24px;
}

.main-portfolio {
    margin-top: 50px;
    margin-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-projects:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-projects:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: var(--main-text-color);
}

.logo-primary {
    color: var(--main-accent-color);
}

.link-header-text {
    position: relative;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: var(--header-text-color);
    line-height: 80px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header-text:hover,
.link-header-text:focus {
    color: var(--main-accent-color);
}

/*Синяя полоска внизу ссылок*/
.current::after,
.link-header-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    height: 4px;
    width: 100%;

    background-color: var(--main-accent-color);
    border-radius: 2px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header-line::after {
    opacity: 0;
    transform: scaleX(0);
}

.link-header-line:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

.link-contact-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--main-paragraph-color);
    line-height: 80px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact-text svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact-text:hover,
.link-contact-text:focus {
    color: var(--main-accent-color);
}

.link-contact-text:hover svg,
.link-contact-text:focus svg {
    fill: var(--main-accent-color);
}

/* .link-contact-text::before {
    align-items: center;
    content: '';
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/envelope-unhover.svg');
}     */

/* .contact-mail {
} */
/* .header-link-item::before {
    content: '';
    width: 16px;
    height: 11px;
    margin-right: 10px;
    background-color: red;
    background-size: contain; */
/* background-image: url('../images/envelope-unhover.svg'); }*/

.link-break-styles {
    display: block;
    color: var(--main-text-color);
    /* outline: 2px solid tomato; */
}

.link-button {
    background-color: var(--main-accent-color);
    color: var(--alternative-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;

    /* min-width: 200px;
    min-height: 50px; */
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.link-button:focus {
    outline: none;
}

.text-header2-style {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--header-text-color);
}

.text-paragraph-style {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
    margin-top: 0px;
    color: var(--main-paragraph-color);
}

.footer-address-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--alternative-text-color);
}

.footer-contacts-text a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.ul-break-style {
    margin: 0px;
}

/*
класс для свойств заголовков Н2 на странице индекс
*/

.main-header2-style {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
}

/*Классы для описания свойств иконок соцсетей*/
.social-flex-container {
    display: flex;
}

.social-flex-container li {
    align-items: center;
}

/* .socials-icon:hover {
    fill: green;
    background-color: #2196f3;
} */

.socials-link {
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    /* background-color: currentColor; */
    /* flex-grow: 2; */
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: #2196f3;
}

.socials-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/*Классы для модального окна*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100%;
    min-height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    /* transform: scale(0); */
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: scale(1); */
    z-index: 1;

    max-width: 530px;
    max-height: 580px;
    padding: 40px;
    /* overflow-y: auto; */

    background-color: #ffffff;
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal h2 {
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-form input {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.modal-form .link-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 55px;
    padding-right: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form .link-button:focus {
    outline: none;
    background-color: #188ce8;
}

.modal-wrapper,
.modal-wrapper-comment {
    position: relative;
    margin-top: 30px;
}

.modal-svg {
    position: absolute;
    top: 14px;
    left: 19px;
    margin-right: 8px;
}

.modal-svg-closewindow {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
}

.modal-svg-closewindow:hover,
.modal-svg-closewindow:focus,
.modal-svg-closewindow:hover .svg-close-icon,
.modal-svg-closewindow:focus .svg-close-icon {
    cursor: pointer;
    outline: none;
    fill: var(--main-accent-color);
}

.modal-condition-wrapper {
    /* padding-left: 12px;
    padding-right: 12px; */
    position: relative;
    display: flex;
    flex-direction: column;

    /*justify-content: center;*/
    /* align-items: center; */
    margin-top: 20px;
    padding-left: 14px;
    padding-right: 11px;
}

/* .modal-condition-label {
    display: flex;
    align-items: center;
    /* padding: 0px; 
} */

.modal-label {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    /* top: 50%;
    left: 50%;*/
    transform: translateY(-50%) translateX(42px);
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--main-paragraph-color);
    /* text-align: center; */
}

.comment-modal-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* top: 50%;
    left: 50%;*/
    transform: translateY(12px) translateX(16px);
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--main-paragraph-color);
    /* text-align: center; */
}

.modal-input {
    display: block;
    width: 100%;
    padding-left: 42px;
    /* padding-right: 16px; */

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #757575;
}

/* .modal-input:not(:placeholder-shown) + .modal-label {
    transform: translateY(-50%) translateX(42px);
} */

.modal-textarea-comment {
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    /* margin-bottom: 20px;
    margin-top: 30px; */

    resize: none;

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #757575;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.modal-input:focus,
.modal-textarea-comment:focus {
    border-color: var(--main-accent-color);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-label,
.modal-textarea-comment:focus + .comment-modal-label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    color: var(--main-accent-color);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:not(:placeholder-shown) + .modal-label,
.modal-input:focus + .modal-label {
    transform: translateY(-40px) translateX(16px);
}

.modal-textarea-comment:not(:placeholder-shown) + .comment-modal-label,
.modal-textarea-comment:focus + .comment-modal-label {
    transform: translateY(-20px) translateX(16px);
}

.modal-wrapper:focus-within svg {
    fill: var(--main-accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.condition-link,
.checkbox-label {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.condition-link {
    text-decoration-line: underline;
    color: var(--main-accent-color);
    margin-left: 4px;
}

.checkbox-label {
    color: var(--main-paragraph-color);
}

/* .checkbox input[type='checkbox'] {
} */

.checkbox-field,
.checkbox-label {
    display: inline-flex;
    align-items: center;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}

.checkbox ~ .checkbox-label::before {
    content: '';
    display: block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 3px;
    flex-shrink: 0;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .checkbox-label::before {
    background-color: var(--main-accent-color);
    border-color: transparent;
    background-image: url('../images/modal-svg/bird.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
